{
    "openapi": "3.0.3",
    "info": {
        "title": "Fusio",
        "description": "Self-Hosted API Management for Builders.",
        "version": "1"
    },
    "servers": [
        {
            "url": "https://demo.fusio-project.org"
        }
    ],
    "paths": {
        "/backend/account/change_password": {
            "put": {
                "tags": [
                    "account"
                ],
                "description": "Changes the password of the authenticated user",
                "operationId": "backend.account.changePassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_AccountChangePassword"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.account"
                        ]
                    }
                ]
            }
        },
        "/backend/account": {
            "get": {
                "tags": [
                    "account"
                ],
                "description": "Returns user data of the authenticated user",
                "operationId": "backend.account.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_User"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.account"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "account"
                ],
                "description": "Updates user data of the authenticated user",
                "operationId": "backend.account.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_UserUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.account"
                        ]
                    }
                ]
            }
        },
        "/backend/action": {
            "get": {
                "tags": [
                    "action"
                ],
                "description": "Returns a paginated list of actions",
                "operationId": "backend.action.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_ActionCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.action"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "action"
                ],
                "description": "Creates a new action",
                "operationId": "backend.action.create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_ActionCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.action"
                        ]
                    }
                ]
            }
        },
        "/backend/action/{action_id}": {
            "get": {
                "tags": [
                    "action"
                ],
                "description": "Returns a specific action",
                "operationId": "backend.action.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_Action"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.action"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "action"
                ],
                "description": "Updates an existing action",
                "operationId": "backend.action.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_ActionUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.action"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "action"
                ],
                "description": "Deletes an existing action",
                "operationId": "backend.action.delete",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.action"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "action_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/action/execute/{action_id}": {
            "post": {
                "tags": [
                    "action"
                ],
                "description": "Executes a specific action. This method should be used to test an action configuration",
                "operationId": "backend.action.execute",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_ActionExecuteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_ActionExecuteResponse"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.action"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "action_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/action/list": {
            "get": {
                "tags": [
                    "action"
                ],
                "description": "Returns all available action classes",
                "operationId": "backend.action.getClasses",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_ActionIndex"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.action"
                        ]
                    }
                ]
            }
        },
        "/backend/action/{action_id}/commit": {
            "get": {
                "tags": [
                    "action"
                ],
                "description": "Returns a paginated list of action commits",
                "operationId": "backend.action.getCommits",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_ActionCommitCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.action"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "action_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/action/form": {
            "get": {
                "tags": [
                    "action"
                ],
                "description": "Returns the action config form",
                "operationId": "backend.action.getForm",
                "parameters": [
                    {
                        "name": "class",
                        "in": "query",
                        "description": "The target action class",
                        "required": false,
                        "schema": {
                            "description": "The target action class",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_FormContainer"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.action"
                        ]
                    }
                ]
            }
        },
        "/backend/agent": {
            "get": {
                "tags": [
                    "agent"
                ],
                "description": "Returns a paginated list of agents",
                "operationId": "backend.agent.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_AgentCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.agent"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "agent"
                ],
                "description": "Creates a new agent",
                "operationId": "backend.agent.create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_AgentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.agent"
                        ]
                    }
                ]
            }
        },
        "/backend/agent/{agent_id}": {
            "get": {
                "tags": [
                    "agent"
                ],
                "description": "Returns a specific agent",
                "operationId": "backend.agent.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_Agent"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.agent"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "agent"
                ],
                "description": "Updates an existing agent",
                "operationId": "backend.agent.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_AgentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.agent"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "agent"
                ],
                "description": "Deletes an existing agent",
                "operationId": "backend.agent.delete",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.agent"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "agent_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/agent/tools": {
            "get": {
                "tags": [
                    "agent"
                ],
                "description": "Returns available tools for an agent",
                "operationId": "backend.agent.getTools",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_AgentTools"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.agent"
                        ]
                    }
                ]
            }
        },
        "/backend/agent/{agent_id}/message": {
            "get": {
                "tags": [
                    "agent"
                ],
                "description": "Returns a paginated list of agent messages",
                "operationId": "backend.agent.message.getAll",
                "parameters": [
                    {
                        "name": "chat_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_AgentMessageCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.agent"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "agent"
                ],
                "description": "Submits a new agent message",
                "operationId": "backend.agent.message.submit",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Agent_Input"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agent_Output"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.agent"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "agent_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/app": {
            "get": {
                "tags": [
                    "app"
                ],
                "description": "Returns a paginated list of apps",
                "operationId": "backend.app.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_AppCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.app"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "app"
                ],
                "description": "Creates a new app",
                "operationId": "backend.app.create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_AppCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.app"
                        ]
                    }
                ]
            }
        },
        "/backend/app/{app_id}": {
            "get": {
                "tags": [
                    "app"
                ],
                "description": "Returns a specific app",
                "operationId": "backend.app.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_App"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.app"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "app"
                ],
                "description": "Updates an existing app",
                "operationId": "backend.app.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_AppUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.app"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "app"
                ],
                "description": "Deletes an existing app",
                "operationId": "backend.app.delete",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.app"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "app_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/app/{app_id}/token/{token_id}": {
            "delete": {
                "tags": [
                    "app"
                ],
                "description": "Deletes an existing token from an app",
                "operationId": "backend.app.deleteToken",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.app"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "app_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "token_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/audit/{audit_id}": {
            "get": {
                "tags": [
                    "audit"
                ],
                "description": "Returns a specific audit",
                "operationId": "backend.audit.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_Audit"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.audit"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "audit_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/audit": {
            "get": {
                "tags": [
                    "audit"
                ],
                "description": "Returns a paginated list of audits",
                "operationId": "backend.audit.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "appId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "event",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "message",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_AuditCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.audit"
                        ]
                    }
                ]
            }
        },
        "/backend/backup/export": {
            "post": {
                "tags": [
                    "backup"
                ],
                "description": "Generates an backup of the current system",
                "operationId": "backend.backup.export",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_BackupExport"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.backup"
                        ]
                    }
                ]
            }
        },
        "/backend/backup/import": {
            "post": {
                "tags": [
                    "backup"
                ],
                "description": "Imports an backup to the current system",
                "operationId": "backend.backup.import",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_BackupImport"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_BackupImportResult"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.backup"
                        ]
                    }
                ]
            }
        },
        "/backend/bundle": {
            "get": {
                "tags": [
                    "bundle"
                ],
                "description": "Returns a paginated list of bundles",
                "operationId": "backend.bundle.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_BundleCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.bundle"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "bundle"
                ],
                "description": "Creates a new bundle",
                "operationId": "backend.bundle.create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_BundleCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.bundle"
                        ]
                    }
                ]
            }
        },
        "/backend/bundle/{bundle_id}": {
            "get": {
                "tags": [
                    "bundle"
                ],
                "description": "Returns a specific bundle",
                "operationId": "backend.bundle.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_Bundle"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.bundle"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "bundle"
                ],
                "description": "Updates an existing bundle",
                "operationId": "backend.bundle.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_BundleUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.bundle"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "bundle"
                ],
                "description": "Deletes an existing bundle",
                "operationId": "backend.bundle.delete",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.bundle"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "bundle_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/bundle/{bundle_id}/publish": {
            "post": {
                "tags": [
                    "bundle"
                ],
                "description": "Publish an existing bundle to the marketplace",
                "operationId": "backend.bundle.publish",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.bundle"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "bundle_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/category": {
            "get": {
                "tags": [
                    "category"
                ],
                "description": "Returns a paginated list of categories",
                "operationId": "backend.category.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_CategoryCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.category"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "category"
                ],
                "description": "Creates a new category",
                "operationId": "backend.category.create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_CategoryCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.category"
                        ]
                    }
                ]
            }
        },
        "/backend/category/{category_id}": {
            "get": {
                "tags": [
                    "category"
                ],
                "description": "Returns a specific category",
                "operationId": "backend.category.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_Category"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.category"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "category"
                ],
                "description": "Updates an existing category",
                "operationId": "backend.category.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_CategoryUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.category"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "category"
                ],
                "description": "Deletes an existing category",
                "operationId": "backend.category.delete",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.category"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "category_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/config/{config_id}": {
            "get": {
                "tags": [
                    "config"
                ],
                "description": "Returns a specific config",
                "operationId": "backend.config.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_Config"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.config"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "config"
                ],
                "description": "Updates an existing config value",
                "operationId": "backend.config.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_ConfigUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.config"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "config_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/config": {
            "get": {
                "tags": [
                    "config"
                ],
                "description": "Returns a paginated list of configuration values",
                "operationId": "backend.config.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_ConfigCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.config"
                        ]
                    }
                ]
            }
        },
        "/backend/connection/{connection_id}/agent": {
            "post": {
                "tags": [
                    "connection"
                ],
                "description": "Sends a message to an agent",
                "operationId": "backend.connection.agent.send",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Agent_Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agent_Output"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.connection"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "connection_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/backend/connection": {
            "get": {
                "tags": [
                    "connection"
                ],
                "description": "Returns a paginated list of connections",
                "operationId": "backend.connection.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "class",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Backend_ConnectionCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "backend.connection"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "connection"
                ],
                "description": "Creates a new connection",
                "operationId": "backend.connection.create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_ConnectionCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
[...]
