openapi: 3.2.0
info:
  title: Fusio Specification API
  description: Self-Hosted API Management for Builders.
  version: '1'
servers:
- url: https://demo.fusio-project.org
tags:
- name: Specification
paths:
  /backend/specification:
    get:
      tags:
      - Specification
      description: Returns the TypeHub specification
      operationId: backend.specification.get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_SpecificationGet'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.specification
      summary: Backend specification get
      x-summary-source: derived
    post:
      tags:
      - Specification
      description: Publish the specification
      operationId: backend.specification.publish
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_SpecificationPublish'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.specification
      summary: Backend specification publish
      x-summary-source: derived
  /backend/specification/changelog:
    get:
      tags:
      - Specification
      description: Returns the changelog between your current specification and the last tag
      operationId: backend.specification.getChangelog
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_SpecificationChangelog'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.specification
      summary: Backend specification get changelog
      x-summary-source: derived
  /backend/specification/tag:
    post:
      tags:
      - Specification
      description: Creates a new tag of your specification
      operationId: backend.specification.tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Passthru'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.specification
      summary: Backend specification tag
      x-summary-source: derived
components:
  schemas:
    Passthru:
      description: No schema information available
      type: object
      additionalProperties: {}
    Common_Message:
      description: Common error message
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        id:
          type: string
    Backend_SpecificationChangelog:
      type: object
      properties:
        master: {}
        tag: {}
        version:
          type: string
        changelog:
          type: string
    Backend_SpecificationGet:
      type: object
      properties:
        spec: {}
    Backend_SpecificationPublish:
      type: object
      properties:
        name:
          type: string
        filterName:
          type: string
        standalone:
          type: boolean
  securitySchemes:
    app:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
        authorizationCode:
          authorizationUrl: https://demo.fusio-project.org/authorization/authorize
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
