openapi: 3.2.0
info:
  title: Fusio Token API
  version: '1'
  description: 'Operations tagged token across 2 of this provider''s published API definitions: fusio-backend.json, fusio-consumer.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://demo.fusio-project.org
tags:
- name: Token
paths:
  /backend/token/{token_id}:
    parameters:
    - name: token_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Token
      description: Returns a specific token
      operationId: backend.token.get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_Token'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.token
      summary: Backend token get
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /backend/token:
    get:
      tags:
      - Token
      description: Returns a paginated list of tokens
      operationId: backend.token.getAll
      parameters:
      - name: startIndex
        in: query
        required: false
        schema:
          type: integer
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: appId
        in: query
        required: false
        schema:
          type: integer
      - name: userId
        in: query
        required: false
        schema:
          type: integer
      - name: status
        in: query
        required: false
        schema:
          type: integer
      - name: scope
        in: query
        required: false
        schema:
          type: string
      - name: ip
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_TokenCollection'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.token
      summary: Backend token get all
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /consumer/token:
    get:
      tags:
      - Token
      description: Returns a paginated list of tokens which are assigned to the authenticated user
      operationId: consumer.token.getAll
      parameters:
      - name: startIndex
        in: query
        required: false
        schema:
          type: integer
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer_TokenCollection'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - consumer.token
      summary: Consumer token get all
      x-summary-source: derived
    post:
      tags:
      - Token
      description: Creates a new token for the authenticated user
      operationId: consumer.token.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consumer_TokenCreate'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer_TokenAccessToken'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - consumer.token
      summary: Consumer token create
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /consumer/token/{token_id}:
    parameters:
    - name: token_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Token
      description: Returns a specific token for the authenticated user
      operationId: consumer.token.get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer_Token'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - consumer.token
      summary: Consumer token get
      x-summary-source: derived
    put:
      tags:
      - Token
      description: Updates an existing token for the authenticated user
      operationId: consumer.token.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consumer_TokenUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer_TokenAccessToken'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - consumer.token
      summary: Consumer token update
      x-summary-source: derived
    delete:
      tags:
      - Token
      description: Deletes an existing token for the authenticated user
      operationId: consumer.token.delete
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - consumer.token
      summary: Consumer token delete
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
components:
  schemas:
    Backend_TokenCollection:
      description: Base collection
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        itemsPerPage:
          type: integer
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Backend_Token'
    Common_Message:
      description: Common error message
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        id:
          type: string
    Backend_Token:
      description: This object represents a token, this an access token which was requested by a user
      type: object
      properties:
        id:
          description: Unique identifier for the object
          type: integer
        status:
          description: Status of the object either 1 = active or 2 = deleted
          type: integer
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        ip:
          type: string
        expire:
          type: string
          format: date-time
        date:
          type: string
          format: date-time
    Consumer_TokenAccessToken:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
        refresh_token:
          type: string
        scope:
          type: string
    Consumer_TokenUpdate:
      type: object
      properties:
        name:
          type: string
        expire:
          type: string
          format: date
    Consumer_TokenCreate:
      type: object
      properties:
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        expire:
          type: string
          format: date
    Consumer_TokenCollection:
      description: Base collection
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        itemsPerPage:
          type: integer
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Consumer_Token'
    Consumer_Token:
      type: object
      properties:
        id:
          type: integer
        status:
          type: integer
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        ip:
          type: string
        expire:
          type: string
          format: date
        date:
          type: string
          format: date-time
  securitySchemes:
    app:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
        authorizationCode:
          authorizationUrl: https://demo.fusio-project.org/authorization/authorize
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
x-refined-from:
- fusio-backend.json
- fusio-consumer.json
