openapi: 3.2.0
info:
  title: Fusio User API
  description: Self-Hosted API Management for Builders.
  version: '1'
servers:
- url: https://demo.fusio-project.org
tags:
- name: User
paths:
  /backend/user:
    get:
      tags:
      - User
      description: Returns a paginated list of users
      operationId: backend.user.getAll
      parameters:
      - name: startIndex
        in: query
        required: false
        schema:
          type: integer
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_UserCollection'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.user
      summary: Backend user get all
      x-summary-source: derived
    post:
      tags:
      - User
      description: Creates a new user
      operationId: backend.user.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_UserCreate'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.user
      summary: Backend user create
      x-summary-source: derived
  /backend/user/{user_id}:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - User
      description: Returns a specific user
      operationId: backend.user.get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_User'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.user
      summary: Backend user get
      x-summary-source: derived
    put:
      tags:
      - User
      description: Updates an existing user
      operationId: backend.user.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_UserUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.user
      summary: Backend user update
      x-summary-source: derived
    delete:
      tags:
      - User
      description: Deletes an existing user
      operationId: backend.user.delete
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.user
      summary: Backend user delete
      x-summary-source: derived
  /backend/user/{user_id}/resend:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - User
      description: Resend the activation mail to the provided user
      operationId: backend.user.resend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Passthru'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.user
      summary: Backend user resend
      x-summary-source: derived
components:
  schemas:
    Backend_UserCreate:
      allOf:
      - $ref: '#/components/schemas/Backend_User'
      - type: object
        properties:
          password:
            type: string
    Common_Metadata:
      type: object
      additionalProperties:
        type: string
    Backend_UserUpdate:
      $ref: '#/components/schemas/Backend_User'
    Backend_User:
      description: This object represents a user
      type: object
      properties:
        id:
          description: Unique identifier for the object
          type: integer
        roleId:
          description: A role which is assigned to the user
          type: integer
        planId:
          description: A plan which is assigned to the user
          type: integer
        status:
          description: Status of the object either 1 = active, 2 = disabled or 0 = deleted
          type: integer
        name:
          description: Unique name of the object
          type: string
        email:
          description: The email address of the user
          type: string
        points:
          description: Points assigned to the user
          type: integer
        scopes:
          description: List of scopes which are assigned to the user
          type: array
          items:
            type: string
        apps:
          type: array
          items:
            $ref: '#/components/schemas/Backend_App'
        metadata:
          $ref: '#/components/schemas/Common_Metadata'
        date:
          description: The insert date
          type: string
          format: date-time
    Backend_Token:
      description: This object represents a token, this an access token which was requested by a user
      type: object
      properties:
        id:
          description: Unique identifier for the object
          type: integer
        status:
          description: Status of the object either 1 = active or 2 = deleted
          type: integer
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        ip:
          type: string
        expire:
          type: string
          format: date-time
        date:
          type: string
          format: date-time
    Backend_UserCollection:
      description: Base collection
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        itemsPerPage:
          type: integer
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Backend_User'
    Passthru:
      description: No schema information available
      type: object
      additionalProperties: {}
    Backend_App:
      description: This object represents an app to access the API on-behalf of a user
      type: object
      properties:
        id:
          description: Unique identifier for the object
          type: integer
        userId:
          type: integer
        status:
          description: Status of the object either 1 = active, 2 = pending, 3 = deactivated or 4 = deleted
          type: integer
        name:
          description: Unique name of the object
          type: string
        url:
          description: Url where the app is hosted
          type: string
        parameters:
          description: Optional URL-encoded parameters of the app i.e. foo=bar&bar=foo
          type: string
        appKey:
          description: The app key also known as client id which is generated on creation
          type: string
        appSecret:
          description: The app secret also known as client secret which is generated on creation
          type: string
        metadata:
          $ref: '#/components/schemas/Common_Metadata'
        date:
          description: The create date of this object
          type: string
          format: date-time
        scopes:
          description: A list of assigned scopes for this app
          type: array
          items:
            type: string
        tokens:
          description: A list of tokens which are assigned to this app
          type: array
          items:
            $ref: '#/components/schemas/Backend_Token'
    Common_Message:
      description: Common error message
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        id:
          type: string
  securitySchemes:
    app:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
        authorizationCode:
          authorizationUrl: https://demo.fusio-project.org/authorization/authorize
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
