openapi: 3.2.0
info:
  title: Fusio Form API
  version: '1'
  description: 'Operations tagged form across 2 of this provider''s published API definitions: fusio-backend.json, fusio-consumer.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://demo.fusio-project.org
tags:
- name: Form
paths:
  /backend/form:
    get:
      tags:
      - Form
      description: Returns a paginated list of forms
      operationId: backend.form.getAll
      parameters:
      - name: startIndex
        in: query
        required: false
        schema:
          type: integer
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_FormCollection'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.form
      summary: Backend form get all
      x-summary-source: derived
    post:
      tags:
      - Form
      description: Creates a new form
      operationId: backend.form.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_FormCreate'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.form
      summary: Backend form create
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /backend/form/{form_id}:
    parameters:
    - name: form_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Form
      description: Returns a specific form
      operationId: backend.form.get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_Form'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.form
      summary: Backend form get
      x-summary-source: derived
    put:
      tags:
      - Form
      description: Updates an existing form
      operationId: backend.form.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_FormUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.form
      summary: Backend form update
      x-summary-source: derived
    delete:
      tags:
      - Form
      description: Deletes an existing form
      operationId: backend.form.delete
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.form
      summary: Backend form delete
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /consumer/form/{form_id}:
    parameters:
    - name: form_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Form
      description: Returns a specific form for the authenticated user
      operationId: consumer.form.get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer_Form'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      summary: Consumer form get
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /consumer/form:
    get:
      tags:
      - Form
      description: Returns a paginated list of forms which are relevant to the authenticated user
      operationId: consumer.form.getAll
      parameters:
      - name: startIndex
        in: query
        required: false
        schema:
          type: integer
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer_FormCollection'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      summary: Consumer form get all
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
components:
  schemas:
    Common_Metadata:
      type: object
      additionalProperties:
        type: string
    Backend_FormCreate:
      $ref: '#/components/schemas/Backend_Form'
    Backend_FormUpdate:
      $ref: '#/components/schemas/Backend_Form'
    Backend_Form:
      description: This object represents a form which helps to dynamically generate a form at a frontend app
      type: object
      properties:
        id:
          description: Unique identifier for the object
          type: integer
        status:
          description: Status of the object either 1 = active or 0 = deleted
          type: integer
        name:
          description: Unique name of the object
          type: string
        operationId:
          description: Target operation which gets invoked through this form
          type: integer
        uiSchema: {}
        metadata:
          $ref: '#/components/schemas/Common_Metadata'
    Common_Message:
      description: Common error message
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        id:
          type: string
    Backend_FormCollection:
      description: Base collection
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        itemsPerPage:
          type: integer
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Backend_Form'
    Consumer_Form:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        action:
          type: string
        method:
          type: string
        jsonSchema: {}
        uiSchema: {}
        metadata:
          $ref: '#/components/schemas/Common_Metadata'
    Consumer_FormCollection:
      description: Base collection
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        itemsPerPage:
          type: integer
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Consumer_Form'
  securitySchemes:
    app:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
        authorizationCode:
          authorizationUrl: https://demo.fusio-project.org/authorization/authorize
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
x-refined-from:
- fusio-backend.json
- fusio-consumer.json
