openapi: 3.2.0
info:
  title: Fusio Dashboard API
  description: Self-Hosted API Management for Builders.
  version: '1'
servers:
- url: https://demo.fusio-project.org
tags:
- name: Dashboard
paths:
  /backend/dashboard:
    get:
      tags:
      - Dashboard
      description: Returns all available dashboard widgets
      operationId: backend.dashboard.getAll
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_Dashboard'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.dashboard
      summary: Backend dashboard get all
      x-summary-source: derived
components:
  schemas:
    Backend_StatisticChart:
      type: object
      properties:
        labels:
          type: array
          items:
            type: string
        series:
          type: array
          items:
            $ref: '#/components/schemas/Backend_StatisticChartSeries'
    Common_Message:
      description: Common error message
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        id:
          type: string
    Backend_StatisticChartSeries:
      type: object
      properties:
        name:
          type: string
        data:
          type: array
          items:
            type: number
    Backend_Dashboard:
      description: Represents an object containing all widget data for the dashboard
      type: object
      properties:
        errorsPerOperation:
          $ref: '#/components/schemas/Backend_StatisticChart'
        incomingRequests:
          $ref: '#/components/schemas/Backend_StatisticChart'
        incomingTransactions:
          $ref: '#/components/schemas/Backend_StatisticChart'
        mostUsedOperations:
          $ref: '#/components/schemas/Backend_StatisticChart'
        timePerOperation:
          $ref: '#/components/schemas/Backend_StatisticChart'
        testCoverage:
          $ref: '#/components/schemas/Backend_StatisticChart'
        mostUsedActivities:
          $ref: '#/components/schemas/Backend_StatisticChart'
        activitiesPerUser:
          $ref: '#/components/schemas/Backend_StatisticChart'
        userRegistrations:
          $ref: '#/components/schemas/Backend_StatisticChart'
  securitySchemes:
    app:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
        authorizationCode:
          authorizationUrl: https://demo.fusio-project.org/authorization/authorize
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
