openapi: 3.2.0
info:
  title: Fusio Scope API
  version: '1'
  description: 'Operations tagged scope across 2 of this provider''s published API definitions: fusio-backend.json, fusio-consumer.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://demo.fusio-project.org
tags:
- name: Scope
paths:
  /backend/scope:
    get:
      tags:
      - Scope
      description: Returns a paginated list of scopes
      operationId: backend.scope.getAll
      parameters:
      - name: startIndex
        in: query
        required: false
        schema:
          type: integer
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ScopeCollection'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.scope
      summary: Backend scope get all
      x-summary-source: derived
    post:
      tags:
      - Scope
      description: Creates a new scope
      operationId: backend.scope.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_ScopeCreate'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.scope
      summary: Backend scope create
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /backend/scope/{scope_id}:
    parameters:
    - name: scope_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Scope
      description: Returns a specific scope
      operationId: backend.scope.get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_Scope'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.scope
      summary: Backend scope get
      x-summary-source: derived
    put:
      tags:
      - Scope
      description: Updates an existing scope
      operationId: backend.scope.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_ScopeUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.scope
      summary: Backend scope update
      x-summary-source: derived
    delete:
      tags:
      - Scope
      description: Deletes an existing scope
      operationId: backend.scope.delete
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.scope
      summary: Backend scope delete
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /backend/scope/categories:
    get:
      tags:
      - Scope
      description: Returns all available scopes grouped by category
      operationId: backend.scope.getCategories
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_ScopeCategories'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.scope
      summary: Backend scope get categories
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /consumer/scope:
    get:
      tags:
      - Scope
      description: Returns a paginated list of scopes which are assigned to the authenticated user
      operationId: consumer.scope.getAll
      parameters:
      - name: startIndex
        in: query
        required: false
        schema:
          type: integer
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer_ScopeCollection'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - consumer.scope
      summary: Consumer scope get all
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
  /consumer/scope/categories:
    get:
      tags:
      - Scope
      description: Returns all scopes by category
      operationId: consumer.scope.getCategories
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer_ScopeCategories'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - consumer.scope
      summary: Consumer scope get categories
      x-summary-source: derived
    servers:
    - url: https://demo.fusio-project.org
components:
  schemas:
    Backend_ScopeOperation:
      type: object
      properties:
        operationId:
          type: integer
        allow:
          type: boolean
    Backend_ScopeCreate:
      $ref: '#/components/schemas/Backend_Scope'
    Backend_ScopeCategories:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Backend_ScopeCategory'
    Backend_ScopeUpdate:
      $ref: '#/components/schemas/Backend_Scope'
    Common_Metadata:
      type: object
      additionalProperties:
        type: string
    Backend_Scope:
      description: This object represents a scope. A scope is assigned to a user and is required to access operations
      type: object
      properties:
        id:
          description: Unique identifier for the object
          type: integer
        name:
          description: Unique name of the object
          type: string
        description:
          description: Short description of the scope
          type: string
        operations:
          description: All operations which can be access through this scope
          type: array
          items:
            $ref: '#/components/schemas/Backend_ScopeOperation'
        metadata:
          $ref: '#/components/schemas/Common_Metadata'
    Backend_ScopeCategoryScope:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
    Backend_ScopeCollection:
      description: Base collection
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        itemsPerPage:
          type: integer
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Backend_Scope'
    Backend_ScopeCategory:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/Backend_ScopeCategoryScope'
    Common_Message:
      description: Common error message
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        id:
          type: string
    Consumer_ScopeCategoryScope:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
    Consumer_Scope:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        metadata:
          $ref: '#/components/schemas/Common_Metadata'
    Consumer_ScopeCategories:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Consumer_ScopeCategory'
    Consumer_ScopeCategory:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/Consumer_ScopeCategoryScope'
    Consumer_ScopeCollection:
      description: Base collection
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        itemsPerPage:
          type: integer
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Consumer_Scope'
  securitySchemes:
    app:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
        authorizationCode:
          authorizationUrl: https://demo.fusio-project.org/authorization/authorize
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
x-refined-from:
- fusio-backend.json
- fusio-consumer.json
