openapi: 3.2.0
info:
  title: Fusio Taxonomy API
  description: Self-Hosted API Management for Builders.
  version: '1'
servers:
- url: https://demo.fusio-project.org
tags:
- name: Taxonomy
paths:
  /backend/taxonomy:
    get:
      tags:
      - Taxonomy
      description: Returns a paginated list of taxonomies
      operationId: backend.taxonomy.getAll
      parameters:
      - name: startIndex
        in: query
        required: false
        schema:
          type: integer
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_TaxonomyCollection'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.taxonomy
      summary: Backend taxonomy get all
      x-summary-source: derived
    post:
      tags:
      - Taxonomy
      description: Creates a new taxonomy
      operationId: backend.taxonomy.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_TaxonomyCreate'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.taxonomy
      summary: Backend taxonomy create
      x-summary-source: derived
  /backend/taxonomy/{taxonomy_id}:
    parameters:
    - name: taxonomy_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Taxonomy
      description: Returns a specific taxonomy
      operationId: backend.taxonomy.get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backend_Taxonomy'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.taxonomy
      summary: Backend taxonomy get
      x-summary-source: derived
    put:
      tags:
      - Taxonomy
      description: Updates an existing taxonomy
      operationId: backend.taxonomy.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_TaxonomyUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.taxonomy
      summary: Backend taxonomy update
      x-summary-source: derived
    post:
      tags:
      - Taxonomy
      description: Moves the provided ids to the taxonomy
      operationId: backend.taxonomy.move
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backend_TaxonomyMove'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.taxonomy
      summary: Backend taxonomy move
      x-summary-source: derived
    delete:
      tags:
      - Taxonomy
      description: Deletes an existing taxonomy
      operationId: backend.taxonomy.delete
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        4XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
        5XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Common_Message'
      security:
      - app:
        - backend.taxonomy
      summary: Backend taxonomy delete
      x-summary-source: derived
components:
  schemas:
    Common_Message:
      description: Common error message
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        id:
          type: string
    Backend_TaxonomyCreate:
      $ref: '#/components/schemas/Backend_Taxonomy'
    Backend_TaxonomyCollection:
      description: Base collection
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        itemsPerPage:
          type: integer
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Backend_Taxonomy'
    Backend_Taxonomy:
      description: This object represents a taxonomy. A taxonomy helps to internally organize operations, actions and other entities
      type: object
      properties:
        id:
          description: Unique identifier for the object
          type: integer
        parentId:
          description: Identifier of the parent object
          type: integer
        name:
          description: Unique name of the object
          type: string
    Backend_TaxonomyMove:
      description: Moves the provided objects to a taxonomy
      type: object
      properties:
        operations:
          type: array
          items:
            type: integer
        actions:
          type: array
          items:
            type: integer
        schemas:
          type: array
          items:
            type: integer
        events:
          type: array
          items:
            type: integer
        cronjobs:
          type: array
          items:
            type: integer
        triggers:
          type: array
          items:
            type: integer
    Backend_TaxonomyUpdate:
      $ref: '#/components/schemas/Backend_Taxonomy'
  securitySchemes:
    app:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
        authorizationCode:
          authorizationUrl: https://demo.fusio-project.org/authorization/authorize
          tokenUrl: https://demo.fusio-project.org/authorization/token
          refreshUrl: https://demo.fusio-project.org/authorization/token
          scopes:
            backend: ''
            backend.account: ''
            backend.action: ''
            backend.agent: ''
            backend.app: ''
            backend.audit: ''
            backend.backup: ''
            backend.bundle: ''
            backend.category: ''
            backend.config: ''
            backend.connection: ''
            backend.cronjob: ''
            backend.dashboard: ''
            backend.event: ''
            backend.firewall: ''
            backend.form: ''
            backend.generator: ''
            backend.identity: ''
            backend.log: ''
            backend.marketplace: ''
            backend.operation: ''
            backend.page: ''
            backend.plan: ''
            backend.rate: ''
            backend.role: ''
            backend.schema: ''
            backend.scope: ''
            backend.sdk: ''
            backend.specification: ''
            backend.statistic: ''
            backend.taxonomy: ''
            backend.tenant: ''
            backend.test: ''
            backend.token: ''
            backend.transaction: ''
            backend.trash: ''
            backend.trigger: ''
            backend.user: ''
            backend.webhook: ''
