{
    "openapi": "3.0.3",
    "info": {
        "title": "Fusio",
        "description": "Self-Hosted API Management for Builders.",
        "version": "1"
    },
    "servers": [
        {
            "url": "https://demo.fusio-project.org"
        }
    ],
    "paths": {
        "/consumer/activate": {
            "post": {
                "tags": [
                    "account"
                ],
                "description": "Activates an previously registered account through a token which was provided to the user via email",
                "operationId": "consumer.account.activate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_UserActivate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/consumer/authorize": {
            "get": {
                "tags": [
                    "account"
                ],
                "description": "Returns information about a specific app to start the OAuth2 authorization code flow",
                "operationId": "consumer.account.getApp",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_AuthorizeMeta"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "account"
                ],
                "description": "Authorizes the access of a specific app for the authenticated user",
                "operationId": "consumer.account.authorize",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_AuthorizeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_AuthorizeResponse"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/consumer/account/change_password": {
            "put": {
                "tags": [
                    "account"
                ],
                "description": "Change the password for the authenticated user",
                "operationId": "consumer.account.changePassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Backend_AccountChangePassword"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.account"
                        ]
                    }
                ]
            }
        },
        "/consumer/password_reset": {
            "put": {
                "tags": [
                    "account"
                ],
                "description": "Change the password after the password reset flow was started",
                "operationId": "consumer.account.executePasswordReset",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_UserPasswordReset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "account"
                ],
                "description": "Start the password reset flow",
                "operationId": "consumer.account.requestPasswordReset",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_UserEmail"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/consumer/account": {
            "get": {
                "tags": [
                    "account"
                ],
                "description": "Returns a user data for the authenticated user",
                "operationId": "consumer.account.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_UserAccount"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.account"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "account"
                ],
                "description": "Updates user data for the authenticated user",
                "operationId": "consumer.account.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_UserAccount"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.account"
                        ]
                    }
                ]
            }
        },
        "/consumer/login": {
            "put": {
                "tags": [
                    "account"
                ],
                "description": "Refresh a previously obtained access token",
                "operationId": "consumer.account.refresh",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_UserRefresh"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_UserJWT"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "account"
                ],
                "description": "User login by providing a username and password",
                "operationId": "consumer.account.login",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_UserLogin"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_UserJWT"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/consumer/register": {
            "post": {
                "tags": [
                    "account"
                ],
                "description": "Register a new user account",
                "operationId": "consumer.account.register",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_UserRegister"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/consumer/agent/{agent_id}": {
            "get": {
                "tags": [
                    "agent"
                ],
                "description": "Returns a specific agent",
                "operationId": "consumer.agent.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_Agent"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.agent"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "agent_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/agent": {
            "get": {
                "tags": [
                    "agent"
                ],
                "description": "Returns a paginated list of agents",
                "operationId": "consumer.agent.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_AgentCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.agent"
                        ]
                    }
                ]
            }
        },
        "/consumer/agent/{agent_id}/message": {
            "get": {
                "tags": [
                    "agent"
                ],
                "description": "Returns a paginated list of agent messages",
                "operationId": "consumer.agent.message.getAll",
                "parameters": [
                    {
                        "name": "chat_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_AgentMessageCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.agent"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "agent"
                ],
                "description": "Submits a new agent message",
                "operationId": "consumer.agent.message.submit",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Agent_Input"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Agent_Output"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.agent"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "agent_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/app": {
            "get": {
                "tags": [
                    "app"
                ],
                "description": "Returns a paginated list of apps which are assigned to the authenticated user",
                "operationId": "consumer.app.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_AppCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.app"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "app"
                ],
                "description": "Creates a new app for the authenticated user",
                "operationId": "consumer.app.create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_AppCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.app"
                        ]
                    }
                ]
            }
        },
        "/consumer/app/{app_id}": {
            "get": {
                "tags": [
                    "app"
                ],
                "description": "Returns a specific app for the authenticated user",
                "operationId": "consumer.app.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_App"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.app"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "app"
                ],
                "description": "Updates an existing app for the authenticated user",
                "operationId": "consumer.app.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_AppUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.app"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "app"
                ],
                "description": "Deletes an existing app for the authenticated user",
                "operationId": "consumer.app.delete",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.app"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "app_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/event/{event_id}": {
            "get": {
                "tags": [
                    "event"
                ],
                "description": "Returns a specific event for the authenticated user",
                "operationId": "consumer.event.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_Event"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.event"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "event_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/event": {
            "get": {
                "tags": [
                    "event"
                ],
                "description": "Returns a paginated list of apps which are assigned to the authenticated user",
                "operationId": "consumer.event.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_EventCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.event"
                        ]
                    }
                ]
            }
        },
        "/consumer/form/{form_id}": {
            "get": {
                "tags": [
                    "form"
                ],
                "description": "Returns a specific form for the authenticated user",
                "operationId": "consumer.form.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_Form"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "form_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/form": {
            "get": {
                "tags": [
                    "form"
                ],
                "description": "Returns a paginated list of forms which are relevant to the authenticated user",
                "operationId": "consumer.form.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_FormCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/consumer/grant/{grant_id}": {
            "delete": {
                "tags": [
                    "grant"
                ],
                "description": "Deletes an existing grant for an app which was created by the authenticated user",
                "operationId": "consumer.grant.delete",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.grant"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "grant_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/grant": {
            "get": {
                "tags": [
                    "grant"
                ],
                "description": "Returns a paginated list of grants which are assigned to the authenticated user",
                "operationId": "consumer.grant.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_GrantCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.grant"
                        ]
                    }
                ]
            }
        },
        "/consumer/identity/{identity}/exchange": {
            "get": {
                "tags": [
                    "identity"
                ],
                "description": "Identity callback endpoint to exchange an access token",
                "operationId": "consumer.identity.exchange",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Passthru"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "identity",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/identity": {
            "get": {
                "tags": [
                    "identity"
                ],
                "description": "Returns a paginated list of identities which are relevant to the authenticated user",
                "operationId": "consumer.identity.getAll",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "deprecated": true,
                            "type": "integer"
                        }
                    },
                    {
                        "name": "appKey",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_IdentityCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/consumer/identity/{identity}/redirect": {
            "get": {
                "tags": [
                    "identity"
                ],
                "description": "Redirect the user to the configured identity provider",
                "operationId": "consumer.identity.redirect",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Passthru"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "identity",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/log/{log_id}": {
            "get": {
                "tags": [
                    "log"
                ],
                "description": "Returns a specific log for the authenticated user",
                "operationId": "consumer.log.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_Log"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.log"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "log_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/log": {
            "get": {
                "tags": [
                    "log"
                ],
                "description": "Returns a paginated list of logs which are assigned to the authenticated user",
                "operationId": "consumer.log.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_LogCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.log"
                        ]
                    }
                ]
            }
        },
        "/consumer/page/{page_id}": {
            "get": {
                "tags": [
                    "page"
                ],
                "description": "Returns a specific page for the authenticated user",
                "operationId": "consumer.page.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_Page"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "page_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/page": {
            "get": {
                "tags": [
                    "page"
                ],
                "description": "Returns a paginated list of pages which are relevant to the authenticated user",
                "operationId": "consumer.page.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_PageCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/consumer/payment/{provider}/checkout": {
            "post": {
                "tags": [
                    "payment"
                ],
                "description": "Start the checkout process for a specific plan",
                "operationId": "consumer.payment.checkout",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_PaymentCheckoutRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_PaymentCheckoutResponse"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.payment"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "provider",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/payment/{provider}/portal": {
            "post": {
                "tags": [
                    "payment"
                ],
                "description": "Generates a payment portal link for the authenticated user",
                "operationId": "consumer.payment.portal",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_PaymentPortalRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_PaymentPortalResponse"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.payment"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "provider",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/plan/{plan_id}": {
            "get": {
                "tags": [
                    "plan"
                ],
                "description": "Returns a specific plan for the authenticated user",
                "operationId": "consumer.plan.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_Plan"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.plan"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "plan_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/plan": {
            "get": {
                "tags": [
                    "plan"
                ],
                "description": "Returns a paginated list of plans which are relevant to the authenticated user",
                "operationId": "consumer.plan.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_PlanCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.plan"
                        ]
                    }
                ]
            }
        },
        "/consumer/scope": {
            "get": {
                "tags": [
                    "scope"
                ],
                "description": "Returns a paginated list of scopes which are assigned to the authenticated user",
                "operationId": "consumer.scope.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_ScopeCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.scope"
                        ]
                    }
                ]
            }
        },
        "/consumer/scope/categories": {
            "get": {
                "tags": [
                    "scope"
                ],
                "description": "Returns all scopes by category",
                "operationId": "consumer.scope.getCategories",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_ScopeCategories"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.scope"
                        ]
                    }
                ]
            }
        },
        "/consumer/token": {
            "get": {
                "tags": [
                    "token"
                ],
                "description": "Returns a paginated list of tokens which are assigned to the authenticated user",
                "operationId": "consumer.token.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_TokenCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.token"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "token"
                ],
                "description": "Creates a new token for the authenticated user",
                "operationId": "consumer.token.create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_TokenCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_TokenAccessToken"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.token"
                        ]
                    }
                ]
            }
        },
        "/consumer/token/{token_id}": {
            "get": {
                "tags": [
                    "token"
                ],
                "description": "Returns a specific token for the authenticated user",
                "operationId": "consumer.token.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_Token"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.token"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "token"
                ],
                "description": "Updates an existing token for the authenticated user",
                "operationId": "consumer.token.update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Consumer_TokenUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_TokenAccessToken"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.token"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "token"
                ],
                "description": "Deletes an existing token for the authenticated user",
                "operationId": "consumer.token.delete",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.token"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "token_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/transaction/{transaction_id}": {
            "get": {
                "tags": [
                    "transaction"
                ],
                "description": "Returns a specific transaction for the authenticated user",
                "operationId": "consumer.transaction.get",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_Transaction"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.transaction"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "transaction_id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/consumer/transaction": {
            "get": {
                "tags": [
                    "transaction"
                ],
                "description": "Returns a paginated list of transactions which are assigned to the authenticated user",
                "operationId": "consumer.transaction.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_TransactionCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common_Message"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "app": [
                            "consumer.transaction"
                        ]
                    }
                ]
            }
        },
        "/consumer/webhook": {
            "get": {
                "tags": [
                    "webhook"
                ],
                "description": "Returns a paginated list of webhooks which are assigned to the authenticated user",
                "operationId": "consumer.webhook.getAll",
                "parameters": [
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Consumer_WebhookCollection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "",
                        "content": {
[...]
